.main {
    width: 1024px;
    margin: auto;
}

.header {
    height: 30px;
    background-color:black;
    padding-right: 10px;    
}

.header .login, .userinfo {
    float: right;
    right: 10px;    
    color: aliceblue;
}
.header a {
    color: aliceblue;
    height: 30px;
    line-height: 30px;    
}
.header span {
    color: aliceblue;
    height: 30px;
    line-height: 30px;    
    margin-left: 5px;
}





#depth table {
    margin: 0px;
}
#depth table td, th {
    padding: 1px 1px;
    min-height: 20px;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
}


#depth table th {
    text-align: center;
}


.layui-table td, .layui-table th  {
    padding: 1px 1px;
    font-size: 14px;
    min-height: 20px;
    line-height: 22px;
}

.market-area {
    border-bottom: 1px dashed orange; 
    padding: 20px 5px 0px 5px;
}

.action-order-area {
    border-right: 1px dashed orange; 
    margin-top: 10px;
}

.action-ask-area {
    border-right: 1px dashed orange; 
}

.latest-price-area {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.trade-log th, td {
    text-align: center;
}


.open-order th {
    text-align: center;
}